<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <link href='./stylesheets/style.css' media='screen'
    rel='stylesheet' type='text/css' />
  <title><%= @title %></title>
</head>

<body>

  <div id='header'>
    <img src='./images/logo.png' alt='MBTI Quiz' />
  </div>

  <%= yield %>
 
</body>

</html>