<div id='instructions'>Welcome to Melanie's Italian Quiz program.</div>

<form name="mbti_quiz" action="/results" method="POST">
  <ul id="questions">
    <% @questions.each do |name, question| %>
      <li>
        <strong><%= name %></strong>
        <input type="text" name="questions[<%= question.name %>]" />
      </li>
    <% end %>
  </ul>

  <input type="submit" value="Submit" class="input" />
</form>
